# exclude compiled binaries and external models
/bin/external/*

# exclude 3rd-party code, freely available from file exchange
/code/file_exchange/*

# exclude macOS-specific file
/.DS_Store

# exclude data and results from source control by default
/dataRaw/*
/data/*
/results/*
/results_old/*

# keep unfinished written material out of public sight
/docs/manuscript/*
/docs/reports/*

# +----------------------------+-------------------------------+
# | To keep an empty directory, add a .gitkeep file to it      |
# | and ignore the directory with a wildcard:                  |
# |                                                            |
# |     /path/to/dir/*                                         |
# |                                                            |
# | this will ignore the content but not the directory itself. |
# +------------------------------------------------------------+
!/**/.gitkeep